.search-bar-wrapper{width:960px;margin:0 auto;position:relative}
.search-ctn{position:absolute;left:300px;padding:11px 0;width:750px;top:100px;left:200px}
/*
.logo{position:absolute;top:0;left:0}
.form{border:3px solid #93a7ca;border-radius:8px;overflow:hidden;position:relative;float:left}
.feeds-main{border-top:0;top:800px;background-color:#fff;overflow:hidden;position:relative}
.desc-img{width:180px;height:180px;border-radius:2px;border:1px solid #fff}
.feeds-ctn{padding:20px 0 0}
.item{padding-bottom:0;border-bottom:0}
.left-info{width:720px;float:left;margin-right:50px}
*/
