<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="favicon.ico">

  <title>模板</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-1"></div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="table-responsive">
        <table class="table">
          <tr class="active">
            <td class="active">父亲</td>
            <td class="active">罗建华</td>
          </tr>
          <tr class="success">
            <td class="active">母亲</td>
            <td class="active">余华飞</td>
          </tr>
          <tr class="info">...</tr>
        </table>
      </div>
    </div>
  </div>
</body>
