<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="favicon.ico">

  <title>模板</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-1"></div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <table class="table table-striped">
        <tr>
          <td>父亲</td>
          <td><a href="get_person?person={{family.father}}">{{family.father}}</a></td>
        </tr>
        <tr>
          <td>母亲</td>
          <td><a href="get_person?person={{family.mother}}">{{family.mother}}</a></td>
        </tr>
        <tr>
          <td>本人</td>
          <td><a href="get_person?person={{family.name}}">{{family.name}}</a></td>
        </tr>
        <tr>
          <td>配偶</td>
          <td><a href="get_person?person={{family.couple}childouple}child      </tr>
        {% for child in family.children %}
        <tr>
          <td>子女</td>
          <td><a href="get_person?person={{child}}">{{child}}</a></td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</body>