<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="favicon.ico">

  <title>{{loginName}}的亲戚</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="row">
    <div class="col-md-8">
      <table class="table table-striped">
        {% if family.father %}
        <tr>
          <td>父亲</td>
          <td><a href="get_person?person={{family.father}}&loginName={{loginName}}">{{family.father}}</a></td>
        </tr>
        {% endif %}
        <tr>
          <td>母亲</td>
          <td><a href="get_person?person={{family.mother}}&loginName={{loginName}}">{{family.mother}}</a></td>
        </tr>
        <tr>
          <td>本人</td>
          <td><a href="get_person?person={{family.name}}&loginName={{loginName}}">{{family.name}}</a></td>
        </tr>
        <tr>
          <td>配偶</td>
          <td><a href="get_person?person={{family.couple}}&loginName={{loginName}}">{{family.couple}}</a></td>     
        </tr>
        {% for child in family.children %}
        <tr>
          <td>子女</td>
          <td><a href="get_person?person={{child}}&loginName={{loginName}}">{{child}}</a></td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"><a href="list&loginName={{loginName}}">{{loginName}}的全部亲戚</a></div>
  </div>
</body>