<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender class="com.xiaomi.web.miliao.access.log4j.AccessAppender" name = "SyntaxxiaomiScribe">
        <param name="encoding" value="utf-8"/>
        <param name="scribeHost" value="${scribeHost}"/>
        <param name="scribePort" value="${scribePort}"/>
        <param name="scribeCategory" value="${scribeCategory}"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="\t%d{yyyy-MM-dd HH:mm:ss}\t%m%n"/>
        </layout>
        <param name="showIp" value="true" ></param>
    </appender>
    <appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%-5p %d{yyyy-MM-dd HH:mm:ss.SSS}] [%t] %l [%m]%n"/>
        </layout>
    </appender>
    <logger name="LoggerPrinter" additivity="false">
        <level value="debug"/>
        <appender-ref ref="SyntaxxiaomiScribe"/>
    </logger>
    <logger name="consoleLOGGER" additivity="false">
        <level value="debug"/>
        <appender-ref ref="consoleAppender"/>
    </logger>
</log4j:configuration>